// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:

#btn-blue {
  background-color: blue;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: none;
  border-radius: 10%;
}

#question {
  margin:none;
  font-size: 12px;
  padding: 5px;
}

#you {
  background-color: white;
  padding: 3px 12px;
  margin: 20px;
  border-left-style: solid;
  border-left-color: lightgrey;
  border-width: 3px;
  width: 30%;

}

#your-coach{
  background-color: rgb(255,209,220);
  padding: 3px 12px;
  margin: 20px;
  border-left-style: solid;
  border-left-color: lightgrey;
  border-width: 3px;
  width: 30%;
}

h1 {
  margin-left: 20px;
}

.ask {
  margin-left: 20px;
}

.italic {
  font-style: italic;
}
