// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:

#btn-blue {
  background-color: blue;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: none;
  border-radius: 10%;
}

#question {
  margin:none;
  font-size: 12px;
  padding: 5px;
}

#you {
  background-color: white;
  border-left-color: grey;
  border-width: 2px;
  width: 60%;
}
